
<% content_for :header do %>
<header>
	<h2>Editing link</h2>
</header>
<% end %>

<%= render 'form' %>

<hr>

<p>
	<%= link_to 'Show', [@bundle, @link] %>
	<%= link_to 'Destroy', [@bundle, @link], method: :delete, data: { confirm: 'Are you sure?' } %> |
	<%= link_to 'Back', bundle_path(@bundle) %>
</p>
