
<% content_for :header do %>
	<header>
		<h2><%= icon 'bookmark-o' %> New Bundle</h2>
	</header>
<% end %>

<%= render 'form' %>

<hr>

<%= link_to icon('angle-left') + 'Back', bundles_path, class: "button" %>
